html, body, #root {
    width: 100%; 
    height: 100%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.App .leaflet-container {
    width: 50%;
    height: 100%;
}

.App .chart-wrapper {
    flex: 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.App .chart-wrapper .button-wrapper {
    padding: 20px 0;
}